/.metadata/
*.o
*.exe
giajxml/xmlreader/__pycache__/__main__.cpython-39.pyc
*.pyc
*.pyc

.DS_Store
*.osm*
geograph/tex/binarygeohash.synctex.gz
geograph/tex/binarygeohash.log
geograph/tex/binarygeohash.aux
